<div class="px-4 py-20 sm:px-6 lg:px-8">
  <.flash_group flash={@flash} />
  <div class="mx-auto max-w-7xl">
    <header>
      <h1 class="text-5xl font-extrabold text-center md:text-6xl text-blue-500">
        Listen List
      </h1>
    </header>
    <%= @inner_content %>
  </div>
</div>
