<form>
  <.input
    type="select"
    id="period"
    name="period"
    options={[{"Week", :week}, {"Month", :month}, {"Year", :year}]}
    value={@selected_period}
    phx-change="change_period"
  />
</form>

<.table id="releases" rows={@releases}>
  <:col :let={release} label="Title">
    <a href={release.post_url} target="_blank" rel="noopener noreferrer"><%= release.title %></a>
  </:col>
  <:col :let={release} label="Score"><%= release.score %></:col>
</.table>
